In [1]:
print ('Hello World!')

Hello World!

In [225]:
print("Hello World!") # string: single quotes, double quotes ("")

Hello World!

In [226]:
print (1) # numeric

1

In [227]:
type(1)

int

In [228]:
type('1')

str

In [229]:
1=='1'

False

In [2]:
type(1)==type('1')

False

In [3]:
2+2

4

In [4]:
5-2

3

In [5]:
2*3

6

In [230]:
2**2# power^

4

In [231]:
5/2

2.5

In [232]:
5//2 # quotient

2

In [233]:
5%2  # remainder

1

In [234]:
import math
math.pi

3.141592653589793

In [235]:
radius=2
area=radius**2*math.pi

In [236]:
print(area)

12.566370614359172

In [237]:
area

12.566370614359172

In [238]:
radius=4
area=radius**2*math.pi
area

50.26548245743669

In [20]:
def area1(x):
    print(x)
    print(math.pi*(x**2))

In [21]:
area1(2)

2
12.566370614359172

In [22]:
area1(4)

4
50.26548245743669

In [23]:
area2=lambda x: math.pi*(x**2)

In [24]:
area2(2)

12.566370614359172

In [ ]:
# write the function to calculate the area of squares
def squarearea1(x):
    return x**2 # print
squarearea2=lambda x: x**2

In [25]:
x=1
x

1

In [26]:
type(x)

int

In [27]:
float(x)

1.0

In [28]:
x

1

In [29]:
x=float(x)
x

1.0

In [30]:
int(x)

1

In [31]:
int(4.5)

4

In [242]:
round(4.56,1)

4.6

In [243]:
round(4.55,1) # not rounding

4.5

In [32]:
str(x)

'1.0'

In [35]:
x='hello'
x

'hello'

In [36]:
type(x)

str

In [37]:
x=True
x

True

In [38]:
type(x)

bool

In [39]:
x=[1,2,3,4]
x

[1, 2, 3, 4]

In [40]:
type(x)

list

In [41]:
x=['a', 'b', 'c', 'd']
x

['a', 'b', 'c', 'd']

In [42]:
len(x)

4

In [43]:
list(range(4))

[0, 1, 2, 3]

In [44]:
list(range(1, 5, 1))

[1, 2, 3, 4]

In [45]:
list(range(1,5,2))

[1, 3]

In [46]:
list(range(5, 1, -1))

[5, 4, 3, 2]

In [47]:
list(range(5,1,-2))

[5, 3]

In [ ]:
# use range function to create a list from 1 to 100
list(range(1,101,1))

In [48]:
num=list(range(4))
num

[0, 1, 2, 3]

In [49]:
# statistical analysis,
import numpy as np
print(np.sum(num))
print(np.max(num))
print(np.min(num))
print(np.mean(num))
print(np.std(num))

6
3
0
1.5
1.118033988749895

In [50]:
#select single element or consecutive elements

In [10]:
num=list(range(1, 5, 1))
num

[1, 2, 3, 4]

In [245]:
# index: start with 0
num[0]

1

In [246]:
num[1]

2

In [247]:
# end with len()-1 or -1
num[len(num)-1]

4

In [248]:
num[-1]

4

In [249]:
num[-2]

3

In [251]:
num[0:2] # start with index 0, end with index less than 2

[1, 2]

In [253]:
num[1:3] # start with index 1, end with index less than 3

[2, 3]

In [58]:
#select non_consecutive elements

In [7]:
num[[1,3]]

TypeError: list indices must be integers or slices, not list

In [256]:
import numpy as np
num1=np.array(num)

In [257]:
num1

array([1, 2, 3, 4])

In [258]:
type(num1)

numpy.ndarray

In [259]:
num1[[1,3]]

array([2, 4])

In [260]:
list(num1[[1,3]])

[2, 4]

In [261]:
list(num1[[2,3]])

[3, 4]

In [9]:
x=[1,3,5,7,9,11]
# use index to return value 5
print(x[2])
# use index to return value 5,7,9
print(x[2:5])
# use index to return value 5, 9,11
import numpy as np
x=np.array(x)
print(list(x[[2,4,5]]))

5
[5, 7, 9]
[5, 9, 11]

In [67]:
# list selection

In [262]:
num[num>0] # wrong

TypeError: '>' not supported between instances of 'list' and 'int'

In [263]:
filter(lambda x:x>0, num)

In [265]:
list(filter(lambda x:x>1, num)) # list selection

[2, 3, 4]

In [266]:
list(map(lambda x: x**2, num)) # list computation

[1, 4, 9, 16]

In [267]:
#list comprehensions

In [269]:
[x for x in num if x>1] # filter

[2, 3, 4]

In [270]:
[x**2 for x in num] # map

[1, 4, 9, 16]

In [75]:
# two list difference
temp1 = ['One', 'Two', 'Three', 'Four']
temp2 = ['One', 'Two']

In [271]:
[x for x in temp1 if x not in temp2] # ifelse loop

['Three', 'Four']

In [11]:
# use map or list compehension to caculate the area of a cirle by each element of a list
import math
print(list(map(lambda x: x**2*math.pi, num)))
print([x**2*math.pi for x in num])

[3.141592653589793, 12.566370614359172, 28.274333882308138, 50.26548245743669]
[3.141592653589793, 12.566370614359172, 28.274333882308138, 50.26548245743669]

In [77]:
# lists computation
list(range(4))+list(range(1,5)) # combination

[0, 1, 2, 3, 1, 2, 3, 4]

In [78]:
list(map(lambda x, y: x+y, range(4), range(1,5))) # plus

[1, 3, 5, 7]

In [79]:
list(map(lambda x, y: x-y, range(4), range(1,5))) # minus

[-1, -1, -1, -1]

In [80]:
list(map(lambda x, y: x*y, range(4), range(1,5))) # multiplied

[0, 2, 6, 12]

In [81]:
list(map(lambda x, y: x/y, range(4), range(1,5))) # divided

[0.0, 0.5, 0.6666666666666666, 0.75]

In [82]:
list(zip(range(4), range(1,5))) # tuple

[(0, 1), (1, 2), (2, 3), (3, 4)]

In [272]:
# string operation
s=' i am happy '

In [273]:
s[0]

' '

In [274]:
s[1:3]

'i '

In [88]:
len(s)

12

In [275]:
s[-1]

' '

In [89]:
s.strip()

'i am happy'

In [90]:
s

' i am happy '

In [91]:
s.split()

['i', 'am', 'happy']

In [92]:
s

' i am happy '

In [93]:
s1='i,am,happy'

In [94]:
s1.split(',')

['i', 'am', 'happy']

In [95]:
l=['i', 'am', 'happy']

In [96]:
' '.join(l)

'i am happy'

In [97]:
s.replace('am', 'was')

' i was happy '

In [98]:
s

' i am happy '

In [99]:
s[3]

'a'

In [100]:
s.find('am')

3

In [101]:
s.find('aa')

-1

In [102]:
s.find('was') # not found

-1

In [103]:
s.upper()

' I AM HAPPY '

In [104]:
s

' i am happy '

In [105]:
# list operation

In [106]:
L=['a', 'b', 'c']

In [107]:
L

['a', 'b', 'c']

In [108]:
L.append('d')

In [109]:
L

['a', 'b', 'c', 'd']

In [110]:
L.remove('c')

In [111]:
L

['a', 'b', 'd']

In [112]:
del L[0]

In [113]:
L

['b', 'd']

In [114]:
L.insert(0, 'a')

In [115]:
L

['a', 'b', 'd']

In [116]:
L.insert(-1, 'c')

In [117]:
L

['a', 'b', 'c', 'd']

In [118]:
L.insert(1,'e')

In [119]:
L

['a', 'e', 'b', 'c', 'd']

In [120]:
sorted(L) # immutable operation

['a', 'b', 'c', 'd', 'e']

In [121]:
L

['a', 'e', 'b', 'c', 'd']

In [122]:
L.sort() # mutable operation

In [123]:
L

['a', 'b', 'c', 'd', 'e']

In [124]:
l=[1,3,9,5]

In [125]:
sorted(l, reverse=True) # from the biggest to the smallest, from smallest to biggest: reverse= False

[9, 5, 3, 1]

In [126]:
l

[1, 3, 9, 5]

In [127]:
l.sort(reverse=True)

In [128]:
l

[9, 5, 3, 1]

In [129]:
l.sort(reverse=False)

In [130]:
l

[1, 3, 5, 9]

In [131]:
# tuple

In [12]:
t=(1, 2, 3, 4, 5, 6, 7 )

In [13]:
len(t)

7

In [14]:
t[0]

1

In [15]:
t[2:5]

(3, 4, 5)

In [19]:
t1=np.array(t)
print(tuple(t1[[2,4,6]]))

(3, 5, 7)

In [21]:
t.append(8) # can not be changed, only can be viewed

AttributeError: 'tuple' object has no attribute 'append'

In [22]:
t.remove(8)

AttributeError: 'tuple' object has no attribute 'remove'

In [23]:
t.insert(1,8)

AttributeError: 'tuple' object has no attribute 'insert'

In [24]:
t.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [137]:
# exchange value of two variables

In [138]:
(a,b)=(1,2)
print (a)
print (b)

1
2

In [139]:
(a,b)=(b,a)
print (a)
print (b)

2
1

In [140]:
# set

In [141]:
L=[1,1,5,2,4,5]

In [142]:
s=set(L)

In [143]:
s

{1, 2, 4, 5}

In [144]:
L[0]

1

In [145]:
s[0]

TypeError: 'set' object is not subscriptable

In [146]:
s=list(set(L))

In [147]:
s

[1, 2, 4, 5]

In [148]:
s[0]

1

In [149]:
# two list difference: only return the unique values
L1=[1,1,2,4,5,5]
L2=[1,1,2]

In [150]:
[x for x in L1 if x not in L2] # two 5s: wrong

[4, 5, 5]

In [151]:
list(set([x for x in L1 if x not in L2]))

[4, 5]

In [152]:
set(L1) - set(L2) # two sets difference

{4, 5}

In [153]:
list(set(L1) - set(L2))

[4, 5]

In [154]:
# dictionary

In [155]:
dic={'name': 'john', 'height': 180, 'age': 30}

In [156]:
list(dic.keys())

['name', 'height', 'age']

In [157]:
list(dic.values()) # corresponding value

['john', 180, 30]

In [158]:
dic['height'] # map from key to value

180

In [159]:
dic.items()

dict_items([('name', 'john'), ('height', 180), ('age', 30)])

In [160]:
dic['sex']='male' # add a new set item

In [161]:
dic

{'name': 'john', 'height': 180, 'age': 30, 'sex': 'male'}

In [162]:
# ifelse loop

In [163]:
x=1
if x>0:
    print ("x is positive")
#elif:
else:
    if x==0:
        print ('x is zero')
    else: 
        print ('x is negative')

x is positive

In [164]:
# %s is used as a placeholder for string values you want to inject into a formatted string.
# %d is used as a placeholder for numeric values.
print ('%s is %d years old' % ('Joe', 42))

Joe is 42 years old

In [165]:
x=-1
if x>0:
    print ("%s is positive" % (x))
elif x==0:
    print ('%s is zero' %(x))
else: 
    print ('%s is negative' % (x))

-1 is negative

In [166]:
# for loop

In [167]:
word=['a', 'b', 'c', 'd']
for letter in word:
    print (letter)

a
b
c
d

In [168]:
for i in range(10):
    print (i)

0
1
2
3
4
5
6
7
8
9

In [169]:
# break
for i in range(10):
    if i==5:
        break
    else:
        print (i)

0
1
2
3
4

In [170]:
# continue
for i in range(10):
    if i==5:
        continue
    else:
        print (i)

0
1
2
3
4
6
7
8
9

In [171]:
# summarize all the even values between 1 and 100
sum=0
for i in range(1,101):
    if i%2==0:
        sum=sum+i
sum

2550

In [25]:
# use for loop to summarize all the odd values between 1 and 100
sum=0
for i in range(1,101):
    if i%2!=0:
        sum=sum+i
sum

2500

In [172]:
# while loop

In [173]:
i=0
while i<10:
    print (i)
    i=i+1

0
1
2
3
4
5
6
7
8
9

In [174]:
# summarize all the even values between 1 and 100
sum=0 
i=0
while i<101:
    if i%2==0:
        sum=sum+i
    i=i+1
sum

2550

In [26]:
# use while loop to summarize all the odd values between 1 and 100
sum=0 
i=0
while i<101:
    if i%2!=0:
        sum=sum+i
    i=i+1
sum

2500

In [175]:
# practice 
# question 1: The function map can be used for multiple lists. Assume the list Lst below record the price of 6 consecutive days.
# Compute the daily return. Hint: Since we have data for 6 days, we have only 5 daily return.
Lst=[10.,11.,12.,13.,14.,15.]

In [176]:
# solution:
L1=Lst[0:len(Lst)-1]
L1

[10.0, 11.0, 12.0, 13.0, 14.0]

In [177]:
L2=Lst[1:len(Lst)]
L2

[11.0, 12.0, 13.0, 14.0, 15.0]

In [178]:
ret =list(map(lambda x, y: (y-x)/x  , L1, L2))
ret

[0.1,
 0.09090909090909091,
 0.08333333333333333,
 0.07692307692307693,
 0.07142857142857142]

In [179]:
#Find the returns that are greater than 8%

In [180]:
# solution
list(filter(lambda r: r>0.08, ret))

[0.1, 0.09090909090909091, 0.08333333333333333]

In [181]:
# Find the days with returns greater than 8%. Your code need to report if it's the first day, second day...etc

In [182]:
# solution:

In [276]:
list(range(1, 1+len(ret)))

[1, 2, 3, 4, 5]

In [184]:
list(zip(ret, range(1, 1+len(ret))))

[(0.1, 1),
 (0.09090909090909091, 2),
 (0.08333333333333333, 3),
 (0.07692307692307693, 4),
 (0.07142857142857142, 5)]

In [185]:
list(filter(lambda r: r[0]>0.08, zip(ret, range(1, 1+len(ret)))))

[(0.1, 1), (0.09090909090909091, 2), (0.08333333333333333, 3)]

In [186]:
# question 2: Use the list comprehension this time: Sum up the numbers divided by 3 or 5 from 1 to 999.

In [187]:
# solution
Lst=range(1,1000)
[x if x%3==0 or x%5==0 else 0 for x in Lst] #and

[0,
 0,
 3,
 0,
 5,
 6,
 0,
 0,
 9,
 10,
 0,
 12,
 0,
 0,
 15,
 0,
 0,
 18,
 0,
 20,
 21,
 0,
 0,
 24,
 25,
 0,
 27,
 0,
 0,
 30,
 0,
 0,
 33,
 0,
 35,
 36,
 0,
 0,
 39,
 40,
 0,
 42,
 0,
 0,
 45,
 0,
 0,
 48,
 0,
 50,
 51,
 0,
 0,
 54,
 55,
 0,
 57,
 0,
 0,
 60,
 0,
 0,
 63,
 0,
 65,
 66,
 0,
 0,
 69,
 70,
 0,
 72,
 0,
 0,
 75,
 0,
 0,
 78,
 0,
 80,
 81,
 0,
 0,
 84,
 85,
 0,
 87,
 0,
 0,
 90,
 0,
 0,
 93,
 0,
 95,
 96,
 0,
 0,
 99,
 100,
 0,
 102,
 0,
 0,
 105,
 0,
 0,
 108,
 0,
 110,
 111,
 0,
 0,
 114,
 115,
 0,
 117,
 0,
 0,
 120,
 0,
 0,
 123,
 0,
 125,
 126,
 0,
 0,
 129,
 130,
 0,
 132,
 0,
 0,
 135,
 0,
 0,
 138,
 0,
 140,
 141,
 0,
 0,
 144,
 145,
 0,
 147,
 0,
 0,
 150,
 0,
 0,
 153,
 0,
 155,
 156,
 0,
 0,
 159,
 160,
 0,
 162,
 0,
 0,
 165,
 0,
 0,
 168,
 0,
 170,
 171,
 0,
 0,
 174,
 175,
 0,
 177,
 0,
 0,
 180,
 0,
 0,
 183,
 0,
 185,
 186,
 0,
 0,
 189,
 190,
 0,
 192,
 0,
 0,
 195,
 0,
 0,
 198,
 0,
 200,
 201,
 0,
 0,
 204,
 205,
 0,
 207,
 0,
 0,
 210,
 0,
 0,
 213,
 0,
 215,
 216,
 0,
 0,
 219,
 220,
 0,
 222,
 0,
 0,
 225,
 0,
 0,
 228,
 0,
 230,
 231,
 0,
 0,
 234,
 235,
 0,
 237,
 0,
 0,
 240,
 0,
 0,
 243,
 0,
 245,
 246,
 0,
 0,
 249,
 250,
 0,
 252,
 0,
 0,
 255,
 0,
 0,
 258,
 0,
 260,
 261,
 0,
 0,
 264,
 265,
 0,
 267,
 0,
 0,
 270,
 0,
 0,
 273,
 0,
 275,
 276,
 0,
 0,
 279,
 280,
 0,
 282,
 0,
 0,
 285,
 0,
 0,
 288,
 0,
 290,
 291,
 0,
 0,
 294,
 295,
 0,
 297,
 0,
 0,
 300,
 0,
 0,
 303,
 0,
 305,
 306,
 0,
 0,
 309,
 310,
 0,
 312,
 0,
 0,
 315,
 0,
 0,
 318,
 0,
 320,
 321,
 0,
 0,
 324,
 325,
 0,
 327,
 0,
 0,
 330,
 0,
 0,
 333,
 0,
 335,
 336,
 0,
 0,
 339,
 340,
 0,
 342,
 0,
 0,
 345,
 0,
 0,
 348,
 0,
 350,
 351,
 0,
 0,
 354,
 355,
 0,
 357,
 0,
 0,
 360,
 0,
 0,
 363,
 0,
 365,
 366,
 0,
 0,
 369,
 370,
 0,
 372,
 0,
 0,
 375,
 0,
 0,
 378,
 0,
 380,
 381,
 0,
 0,
 384,
 385,
 0,
 387,
 0,
 0,
 390,
 0,
 0,
 393,
 0,
 395,
 396,
 0,
 0,
 399,
 400,
 0,
 402,
 0,
 0,
 405,
 0,
 0,
 408,
 0,
 410,
 411,
 0,
 0,
 414,
 415,
 0,
 417,
 0,
 0,
 420,
 0,
 0,
 423,
 0,
 425,
 426,
 0,
 0,
 429,
 430,
 0,
 432,
 0,
 0,
 435,
 0,
 0,
 438,
 0,
 440,
 441,
 0,
 0,
 444,
 445,
 0,
 447,
 0,
 0,
 450,
 0,
 0,
 453,
 0,
 455,
 456,
 0,
 0,
 459,
 460,
 0,
 462,
 0,
 0,
 465,
 0,
 0,
 468,
 0,
 470,
 471,
 0,
 0,
 474,
 475,
 0,
 477,
 0,
 0,
 480,
 0,
 0,
 483,
 0,
 485,
 486,
 0,
 0,
 489,
 490,
 0,
 492,
 0,
 0,
 495,
 0,
 0,
 498,
 0,
 500,
 501,
 0,
 0,
 504,
 505,
 0,
 507,
 0,
 0,
 510,
 0,
 0,
 513,
 0,
 515,
 516,
 0,
 0,
 519,
 520,
 0,
 522,
 0,
 0,
 525,
 0,
 0,
 528,
 0,
 530,
 531,
 0,
 0,
 534,
 535,
 0,
 537,
 0,
 0,
 540,
 0,
 0,
 543,
 0,
 545,
 546,
 0,
 0,
 549,
 550,
 0,
 552,
 0,
 0,
 555,
 0,
 0,
 558,
 0,
 560,
 561,
 0,
 0,
 564,
 565,
 0,
 567,
 0,
 0,
 570,
 0,
 0,
 573,
 0,
 575,
 576,
 0,
 0,
 579,
 580,
 0,
 582,
 0,
 0,
 585,
 0,
 0,
 588,
 0,
 590,
 591,
 0,
 0,
 594,
 595,
 0,
 597,
 0,
 0,
 600,
 0,
 0,
 603,
 0,
 605,
 606,
 0,
 0,
 609,
 610,
 0,
 612,
 0,
 0,
 615,
 0,
 0,
 618,
 0,
 620,
 621,
 0,
 0,
 624,
 625,
 0,
 627,
 0,
 0,
 630,
 0,
 0,
 633,
 0,
 635,
 636,
 0,
 0,
 639,
 640,
 0,
 642,
 0,
 0,
 645,
 0,
 0,
 648,
 0,
 650,
 651,
 0,
 0,
 654,
 655,
 0,
 657,
 0,
 0,
 660,
 0,
 0,
 663,
 0,
 665,
 666,
 0,
 0,
 669,
 670,
 0,
 672,
 0,
 0,
 675,
 0,
 0,
 678,
 0,
 680,
 681,
 0,
 0,
 684,
 685,
 0,
 687,
 0,
 0,
 690,
 0,
 0,
 693,
 0,
 695,
 696,
 0,
 0,
 699,
 700,
 0,
 702,
 0,
 0,
 705,
 0,
 0,
 708,
 0,
 710,
 711,
 0,
 0,
 714,
 715,
 0,
 717,
 0,
 0,
 720,
 0,
 0,
 723,
 0,
 725,
 726,
 0,
 0,
 729,
 730,
 0,
 732,
 0,
 0,
 735,
 0,
 0,
 738,
 0,
 740,
 741,
 0,
 0,
 744,
 745,
 0,
 747,
 0,
 0,
 750,
 0,
 0,
 753,
 0,
 755,
 756,
 0,
 0,
 759,
 760,
 0,
 762,
 0,
 0,
 765,
 0,
 0,
 768,
 0,
 770,
 771,
 0,
 0,
 774,
 775,
 0,
 777,
 0,
 0,
 780,
 0,
 0,
 783,
 0,
 785,
 786,
 0,
 0,
 789,
 790,
 0,
 792,
 0,
 0,
 795,
 0,
 0,
 798,
 0,
 800,
 801,
 0,
 0,
 804,
 805,
 0,
 807,
 0,
 0,
 810,
 0,
 0,
 813,
 0,
 815,
 816,
 0,
 0,
 819,
 820,
 0,
 822,
 0,
 0,
 825,
 0,
 0,
 828,
 0,
 830,
 831,
 0,
 0,
 834,
 835,
 0,
 837,
 0,
 0,
 840,
 0,
 0,
 843,
 0,
 845,
 846,
 0,
 0,
 849,
 850,
 0,
 852,
 0,
 0,
 855,
 0,
 0,
 858,
 0,
 860,
 861,
 0,
 0,
 864,
 865,
 0,
 867,
 0,
 0,
 870,
 0,
 0,
 873,
 0,
 875,
 876,
 0,
 0,
 879,
 880,
 0,
 882,
 0,
 0,
 885,
 0,
 0,
 888,
 0,
 890,
 891,
 0,
 0,
 894,
 895,
 0,
 897,
 0,
 0,
 900,
 0,
 0,
 903,
 0,
 905,
 906,
 0,
 0,
 909,
 910,
 0,
 912,
 0,
 0,
 915,
 0,
 0,
 918,
 0,
 920,
 921,
 0,
 0,
 924,
 925,
 0,
 927,
 0,
 0,
 930,
 0,
 0,
 933,
 0,
 935,
 936,
 0,
 0,
 939,
 940,
 0,
 942,
 0,
 0,
 945,
 0,
 0,
 948,
 0,
 950,
 951,
 0,
 0,
 954,
 955,
 0,
 957,
 0,
 0,
 960,
 0,
 0,
 963,
 0,
 965,
 966,
 0,
 0,
 969,
 970,
 0,
 972,
 0,
 0,
 975,
 0,
 0,
 978,
 0,
 980,
 981,
 0,
 0,
 984,
 985,
 0,
 987,
 0,
 0,
 990,
 0,
 0,
 993,
 0,
 995,
 996,
 0,
 0,
 999]

In [188]:
import numpy as np
np.sum([x if x%3==0 or x%5==0 else 0 for x in Lst])

233168

In [189]:
# use list comprehension to assign 'a' to the numbers greater than 8; 'b' to the numbers less or equal to 8 
# and greater than 5; 'c' to everything else. 1-10

In [190]:
# solution 
Lst=range(1, 11)
['a' if x>8 else 'b' if x<=8 and x>5 else 'c' for x in Lst]#if elif else

['c', 'c', 'c', 'c', 'c', 'b', 'b', 'b', 'a', 'a']

In [191]:
# if not use list comprehension, use if/else loop
A=[]
for i in range(1,11):
    if i>8:
        A.append('a')
    elif 5<i<=8:
        A.append('b')
    else:
        A.append('c')

In [192]:
A

['c', 'c', 'c', 'c', 'c', 'b', 'b', 'b', 'a', 'a']

In [193]:
# question 3
# For the list, Lst, below, square all its elements.
Lst=range(1, 11)

In [194]:
# solution
list(map(lambda x: x**2, Lst))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [195]:
# For the nested list, Lst, below, square all the elements in each inner list.
Lst = [[1,2,3],[2,3,4],[3,4,5]]

In [196]:
# solution 
list(map(lambda lst: list(map(lambda ele: ele**2 ,lst)) ,Lst))

[[1, 4, 9], [4, 9, 16], [9, 16, 25]]

In [197]:
# question 4: Write a function countString with two arguments raw_string and string_to_count. 
# Your function should return the number of times of string_to_count occurs in the the raw_string argument. 
# In addition, Your function should be case insensitive.

In [198]:
# solution:
def countString(raw_string, string_to_count):
    return raw_string.lower().count(string_to_count.lower())

In [199]:
countString('Welcome to IVY DATA SCIENCE Program!', 'abc') # count: frequeny, find: index

0

In [200]:
countString('Welcome to IVY DATA SCIENCE Program!', 'IVY') # 1

1

In [201]:
countString('Welcome to ivy/IVY DATA SCIENCE Program!', 'IVY') # 2

2

In [202]:
# question 5: Write a function reverseString with an argument raw_string. Your function should return a new string,
# reverse the raw_string word by word.

In [203]:
[1,2,3,4][::-1]

[4, 3, 2, 1]

In [204]:
'Welcome to IVY DATA SCIENCE Program'[::-1] # letter by letter

'margorP ECNEICS ATAD YVI ot emocleW'

In [205]:
def reverseString(raw_string):
    return ' '.join(raw_string.split()[::-1])

In [206]:
reverseString('Welcome to IVY DATA SCIENCE Program')

'Program SCIENCE DATA IVY to Welcome'

In [207]:
'Welcome to IVY DATA SCIENCE Program'.split()

['Welcome', 'to', 'IVY', 'DATA', 'SCIENCE', 'Program']

In [208]:
# question 6: Write a function countLetter to count the number of frequencies of each letter occurs. 
# In this case your function should only return the frequencies of letters that really occurs. 
# Again, your function should be case insensitive

In [209]:
# solution
alphabet = [chr(i) for i in range(ord('a'),ord('z')+1)]

In [210]:
range(ord('a'),ord('z')+1)

range(97, 123)

In [211]:
ord('a')

97

In [212]:
ord('z')

122

In [213]:
chr(97)

'a'

In [214]:
chr(98)

'b'

In [215]:
chr(122)

'z'

In [216]:
alphabet

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [217]:
def countLetter(raw_string):
    alphabet = [chr(i) for i in range(ord('a'),ord('z')+1)]
    raw_string = raw_string.lower()
    result = {}
    for i in raw_string:
        if i in alphabet:
            result[i] = result.get(i, 0) + 1
    return result

In [218]:
countLetter('') # {}

{}

In [219]:
countLetter('1') # {}

{}

In [220]:
countLetter('ABCabc')

{'a': 2, 'b': 2, 'c': 2}

In [221]:
countLetter('Welcome to IVY DATA SCIENCE Program')

{'w': 1,
 'e': 4,
 'l': 1,
 'c': 3,
 'o': 3,
 'm': 2,
 't': 2,
 'i': 2,
 'v': 1,
 'y': 1,
 'd': 1,
 'a': 3,
 's': 1,
 'n': 1,
 'p': 1,
 'r': 2,
 'g': 1}