In [39]:
import numpy as np
import pandas as pd
df = pd.DataFrame([[1,      np.nan, 2],
                   [2,      3,      5],
                   [np.nan, 4,      6]],  columns=['a', 'b', 'c'])
df

     a    b  c
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

In [40]:
# check na by column
df.isnull().any(axis=0)

a     True
b     True
c    False
dtype: bool

In [41]:
df.isnull().sum()

a    1
b    1
c    0
dtype: int64

In [42]:
# check na by row
df.isnull().any(axis=1)

0     True
1    False
2     True
dtype: bool

In [43]:
# imcomplete case, test dataset
imcom_df=df.loc[df.isnull().any(axis=1),:]

In [44]:
incom_index=imcom_df.index

In [45]:
incom_index

Int64Index([0, 2], dtype='int64')

In [48]:
com_index=[i for i in df.index if i not in incom_index]

In [49]:
com_index

[1]

In [61]:
# complete case, trianing dataset
com_df=df.iloc[1,:].to_frame().T

In [62]:
com_df

     a    b    c
1  2.0  3.0  5.0

In [6]:
# drop na by row
df1=df.dropna()
df1

     a    b  c
1  2.0  3.0  5

In [7]:
# fill na with mean
df4=df.fillna(df.mean())
df4

     a    b  c
0  1.0  3.5  2
1  2.0  3.0  5
2  1.5  4.0  6

In [8]:
# fill na with medium
df5=df.fillna(df.median())
df5

     a    b  c
0  1.0  3.5  2
1  2.0  3.0  5
2  1.5  4.0  6

In [9]:
# fill na with random
import random
def randomiseMissingData(df):
    "randomise missing data for DataFrame (within a column)"
    df8 = df.copy()
    for col in df8.columns:
        data = df8[col]
        mask = data.isnull()
        samples = random.choices( data[~mask].values , k = mask.sum() )
        data[mask] = samples
    return df8

In [10]:
randomiseMissingData(df)

/Users/shuozhang/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

     a    b  c
0  1.0  3.0  2
1  2.0  3.0  5
2  1.0  4.0  6

In [11]:
df

     a    b  c
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

In [12]:
df=randomiseMissingData(df)
df

/Users/shuozhang/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

     a    b  c
0  1.0  4.0  2
1  2.0  3.0  5
2  1.0  4.0  6

In [64]:
# loading libraries
import pandas as pd

# define column names
names = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'class']

# loading training data
df = pd.read_csv('iris.data.txt', header=None, names=names)
df.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [65]:
df.shape

(150, 5)

In [66]:
df.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
class            object
dtype: object

In [67]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [68]:
# check na by column
df.isnull().any(axis=0)

sepal_length    False
sepal_width     False
petal_length    False
petal_width     False
class           False
dtype: bool

In [15]:
# loading libraries
import numpy as np
from sklearn.model_selection import train_test_split

# create design matrix X and target vector y
X = df[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']]
y = df['class']

# split into train and test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=40)

In [16]:
X_train.head()

     sepal_length  sepal_width  petal_length  petal_width
100           6.3          3.3           6.0          2.5
54            6.5          2.8           4.6          1.5
67            5.8          2.7           4.1          1.0
97            6.2          2.9           4.3          1.3
24            4.8          3.4           1.9          0.2

In [17]:
X_train.shape

(100, 4)

In [18]:
X_test.head()

     sepal_length  sepal_width  petal_length  petal_width
38            4.4          3.0           1.3          0.2
66            5.6          3.0           4.5          1.5
115           6.4          3.2           5.3          2.3
117           7.7          3.8           6.7          2.2
89            5.5          2.5           4.0          1.3

In [19]:
X_test.shape

(50, 4)

In [20]:
# kNN
# loading library
from sklearn.neighbors import KNeighborsClassifier # KNeighborsRegressor
from sklearn.metrics import accuracy_score

In [21]:
# sqr(n)NN
import math
math.sqrt(X_train.shape[0])

10.0

In [22]:
# instantiate learning model (k = 10)
knn = KNeighborsClassifier(n_neighbors=10)

# fitting the model
knn.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=10)

In [23]:
# predict the response on training dataset
pred_train = knn.predict(X_train)

# evaluate accuracy on training dataset
accuracy_score(y_train, pred_train)

0.97

In [24]:
# predict the response on test dataset
pred_test = knn.predict(X_test)

# evaluate accuracy on test dataset
accuracy_score(y_test, pred_test)

0.92

In [25]:
# build a model and make a prediction on the same dataset, the accuracy is usually very high
# but when make a prediction on the unknown dataset, the accuracy is usually lower

In [69]:
# cross validation to find the best k
from sklearn.model_selection import GridSearchCV
k = list(range(1,21,2))
# create the model
knn = KNeighborsClassifier()
grid1 = GridSearchCV(estimator=knn, param_grid=dict(n_neighbors=k),cv=5,scoring='accuracy')
grid1.fit(X_train, y_train)
# summarize the results of the grid search
print(grid1.best_score_)
print(grid1.best_estimator_.n_neighbors)

0.9800000000000001
17

In [70]:
k

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [73]:
dict(n_neighbors=k)

{'n_neighbors': [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]}

In [71]:
len(k)

10

In [27]:
# re-build the model
knn = KNeighborsClassifier(n_neighbors=17)
# fitting the model
knn.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=17)

In [28]:
# predict the response on training dataset
pred_train = knn.predict(X_train)

# evaluate accuracy on training dataset
accuracy_score(y_train, pred_train)

0.96

In [29]:
# predict the response on test dataset
pred_test = knn.predict(X_test)

# evaluate accuracy on test dataset
accuracy_score(y_test, pred_test)

0.94

In [30]:
# better model