In [23]:
import pandas as pd
data=pd.read_csv('/Users/shuozhang/Desktop/kaggle/nba_2013.csv')

In [2]:
data.describe()

,Rk,Age,G,MP,PER,TS%,3PAr,FTr,ORB%,DRB%,...,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
count,573.000000,573.000000,573.000000,573.000000,572.000000,569.000000,569.000000,569.000000,572.000000,572.000000,...,570.000000,572.000000,573.000000,573.000000,573.000000,572.000000,573.000000,573.000000,573.000000,573.000000
mean,234.607330,26.535777,49.219895,1112.923211,12.127972,0.499309,0.236636,0.278002,5.690734,14.268182,...,14.621404,18.703322,1.186562,1.109424,2.295812,0.060797,-1.778360,-0.492845,-2.268761,0.522688
std,135.580961,4.230781,25.925670,878.099964,6.040580,0.099934,0.213113,0.244251,5.548980,7.055579,...,8.253539,5.199738,1.968674,1.155958,2.826353,0.102521,3.573037,1.994670,4.339752,1.182688
min,1.000000,19.000000,1.000000,0.000000,-30.200000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,-2.500000,-0.200000,-1.500000,-0.779000,-29.500000,-10.600000,-31.100000,-1.500000
25%,115.000000,23.000000,27.000000,325.000000,9.300000,0.472000,0.009000,0.165000,1.900000,9.100000,...,10.700000,15.100000,0.000000,0.200000,0.100000,0.028000,-3.200000,-1.600000,-3.600000,-0.100000
50%,240.000000,26.000000,53.000000,936.000000,12.400000,0.516000,0.222000,0.236000,3.900000,13.300000,...,13.300000,18.400000,0.400000,0.700000,1.300000,0.075000,-1.300000,-0.500000,-1.700000,0.100000
75%,350.000000,30.000000,75.000000,1837.000000,15.900000,0.553000,0.405000,0.333000,8.400000,18.800000,...,16.900000,22.125000,1.900000,1.700000,3.600000,0.116000,0.400000,0.900000,0.300000,0.800000
max,469.000000,40.000000,82.000000,3167.000000,31.600000,0.931000,0.873000,4.000000,56.700000,67.700000,...,100.000000,37.200000,14.600000,6.300000,19.300000,0.353000,9.000000,4.900000,10.800000,9.200000

In [3]:
data.columns

Index(['Rk', 'Player', 'Pos', 'Age', 'Tm', 'G', 'MP', 'PER', 'TS%', '3PAr',
       'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%', 'TOV%', 'USG%',
       'OWS', 'DWS', 'WS', 'WS/48', 'OBPM', 'DBPM', 'BPM', 'VORP'],
      dtype='object')

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 573 entries, 0 to 572
Data columns (total 27 columns):
Rk        573 non-null int64
Player    573 non-null object
Pos       573 non-null object
Age       573 non-null int64
Tm        573 non-null object
G         573 non-null int64
MP        573 non-null int64
PER       572 non-null float64
TS%       569 non-null float64
3PAr      569 non-null float64
FTr       569 non-null float64
ORB%      572 non-null float64
DRB%      572 non-null float64
TRB%      572 non-null float64
AST%      572 non-null float64
STL%      572 non-null float64
BLK%      572 non-null float64
TOV%      570 non-null float64
USG%      572 non-null float64
OWS       573 non-null float64
DWS       573 non-null float64
WS        573 non-null float64
WS/48     572 non-null float64
OBPM      573 non-null float64
DBPM      573 non-null float64
BPM       573 non-null float64
VORP      573 non-null float64
dtypes: float64(20), int64(4), object(3)
memory usage: 120.9+ KB

In [25]:
data['Player'].value_counts()

Louis Amundson         4
Shelvin Mack           4
Jannero Pargo          4
Dominic McGuire        4
Francisco Garcia       3
Jordan Crawford        3
Josh McRoberts         3
Eric Maynor            3
Earl Barron            3
Anthony Morrow         3
Derek Fisher           3
Jeremy Tyler           3
Jon Leuer              3
Ed Davis               3
Hakim Warrick          3
Terrel Harris          3
Maalik Wayns           3
Kris Joseph            3
Jarvis Varnado         3
Aaron Brooks           3
Cole Aldrich           3
Thomas Robinson        3
J.J. Redick            3
Charles Jenkins        3
Dexter Pittman         3
Jeremy Pargo           3
Gustavo Ayon           3
Toney Douglas          3
James Anderson         3
Doron Lamb             3
                      ..
Trevor Ariza           1
Kemba Walker           1
Jeff Teague            1
Ian Mahinmi            1
Josh Howard            1
Eric Gordon            1
Monta Ellis            1
Danny Green            1
Xavier Henry           1
Vladimir Radmanovic    1
Jarrett Jack           1
Mike Miller            1
Richard Hamilton       1
Samardo Samuels        1
Manu Ginobili          1
Kevin Martin           1
Viacheslav Kravtsov    1
DeShawn Stevenson      1
Dwight Howard          1
Courtney Lee           1
Evan Turner            1
Corey Maggette         1
Dante Cunningham       1
Cory Joseph            1
Jerry Stackhouse       1
Serge Ibaka            1
Jason Terry            1
Brandon Bass           1
Cartier Martin         1
Kendrick Perkins       1
Name: Player, Length: 468, dtype: int64

In [4]:
data.shape

(573, 27)

In [5]:
data.head(5)

,Rk,Player,Pos,Age,Tm,G,MP,PER,TS%,3PAr,...,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
0,1,Quincy Acy,PF,22,TOR,29,342,15.9,0.632,0.027,...,15.6,14.7,0.7,0.4,1.1,0.157,-0.6,1.0,0.5,0.2
1,2,Jeff Adrien,PF,26,CHA,52,713,13.4,0.493,0.012,...,13.1,15.6,0.5,0.4,1.0,0.064,-2.9,-0.4,-3.3,-0.2
2,3,Arron Afflalo,SF,27,ORL,64,2307,13.0,0.527,0.265,...,12.1,22.5,1.5,0.5,2.0,0.042,-0.4,-1.9,-2.3,-0.2
3,4,Josh Akognon,PG,26,DAL,3,9,15.3,0.625,0.500,...,0.0,20.3,0.0,0.0,0.0,0.196,4.3,-4.9,-0.6,0.0
4,5,Cole Aldrich,C,24,TOT,45,388,11.1,0.563,0.000,...,20.6,12.7,0.1,0.4,0.6,0.070,-4.4,0.4,-3.9,-0.2

In [6]:
data['Rk'].unique()

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
       105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
       118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130,
       131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143,
       144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156,
       157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169,
       170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182,
       183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195,
       196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208,
       209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221,
       222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234,
       235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247,
       248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260,
       261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273,
       274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286,
       287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299,
       300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312,
       313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325,
       326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338,
       339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351,
       352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364,
       365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377,
       378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390,
       391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403,
       404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416,
       417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429,
       430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442,
       443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455,
       456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468,
       469])

In [7]:
# missingness imputation: mean
data.isnull().any(axis=0)

Rk        False
Player    False
Pos       False
Age       False
Tm        False
G         False
MP        False
PER        True
TS%        True
3PAr       True
FTr        True
ORB%       True
DRB%       True
TRB%       True
AST%       True
STL%       True
BLK%       True
TOV%       True
USG%       True
OWS       False
DWS       False
WS        False
WS/48      True
OBPM      False
DBPM      False
BPM       False
VORP      False
dtype: bool

In [8]:
data.isnull().any(axis=1)

0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
543    False
544    False
545    False
546    False
547    False
548    False
549    False
550    False
551    False
552    False
553    False
554    False
555    False
556    False
557    False
558    False
559    False
560    False
561    False
562    False
563    False
564    False
565    False
566    False
567    False
568    False
569    False
570    False
571    False
572    False
Length: 573, dtype: bool

In [9]:
data.fillna(data.mean(), inplace=True)

In [10]:
data.isnull().sum()

Rk        0
Player    0
Pos       0
Age       0
Tm        0
G         0
MP        0
PER       0
TS%       0
3PAr      0
FTr       0
ORB%      0
DRB%      0
TRB%      0
AST%      0
STL%      0
BLK%      0
TOV%      0
USG%      0
OWS       0
DWS       0
WS        0
WS/48     0
OBPM      0
DBPM      0
BPM       0
VORP      0
dtype: int64

In [11]:
# The columns that we will be making predictions with.
X = data[['Age','G', 'MP', 'PER', 'TS%', '3PAr', 'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%','TOV%', 'USG%', 'OWS', 'DWS', 'WS', 'WS/48', 'OBPM', 'DBPM','BPM', 'VORP']]
# The column that we want to predict.
y = data['Rk']

In [12]:
# split data to training/test data to 4:1, use several knn (k=5, k=sqrt(n), k=50) models to predict player rank, evaluation matrics is mse
import numpy as np
from sklearn.model_selection import train_test_split
# split into train and test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [13]:
# loading library
from sklearn.neighbors import KNeighborsRegressor

# k=5
knn = KNeighborsRegressor(n_neighbors=5)

# fitting the model
knn.fit(X_train, y_train)

# predict the response
pred = knn.predict(X_test)

# Compute the mean squared error of prediction
mse = (((pred- y_test) ** 2).sum()) / len(y_test)

In [14]:
mse

23951.893913043477

In [15]:
import math
math.sqrt(X_train.shape[0])

21.400934559032695

In [16]:
# k=21
knn = KNeighborsRegressor(n_neighbors=21)

# fitting the model
knn.fit(X_train, y_train)

# predict the response
pred = knn.predict(X_test)

# Compute the mean squared error of prediction
mse = (((pred- y_test) ** 2).sum()) / len(y_test)

In [17]:
mse

20853.11032238982

In [18]:
# k=50
knn = KNeighborsRegressor(n_neighbors=50)

# fitting the model
knn.fit(X_train, y_train)

# predict the response
pred = knn.predict(X_test)

# Compute the mean squared error of prediction
mse = (((pred- y_test) ** 2).sum()) / len(y_test)

In [19]:
mse

20624.694424347825

In [20]:
from sklearn.model_selection import GridSearchCV
k = np.array(range(1,51))
# create and fit a ridge regression model, testing each alpha
knn = KNeighborsRegressor()
grid1 = GridSearchCV(estimator=knn, param_grid=dict(n_neighbors=k),cv=5,scoring='neg_mean_squared_error')
grid1.fit(X_train, y_train)
# summarize the results of the grid search
print(grid1.best_score_)
print(grid1.best_estimator_.n_neighbors)

-18229.709071195302
47

In [21]:
# k=47
knn = KNeighborsRegressor(n_neighbors=47)

# fitting the model
knn.fit(X_train, y_train)

# predict the response
pred = knn.predict(X_test)

# Compute the mean squared error of prediction
mse = (((pred- y_test) ** 2).sum()) / len(y_test)

In [22]:
mse # lowest mse

20465.4007636743

In [ ]:
(((pred- y_test) ** 2).sum())