In [53]:
import pandas as pd
Temp=pd.read_csv('Temp.txt', sep=' ')
Temp.head()

   Body.Temp Gender  Heart.Rate
1       96.3   Male          70
2       96.7   Male          71
3       96.9   Male          74
4       97.0   Male          80
5       97.1   Male          73

In [54]:
Temp.shape

(130, 3)

In [55]:
Temp.dtypes

Body.Temp     float64
Gender         object
Heart.Rate      int64
dtype: object

In [56]:
Temp.describe()

        Body.Temp  Heart.Rate
count  130.000000  130.000000
mean    98.249231   73.761538
std      0.733183    7.062077
min     96.300000   57.000000
25%     97.800000   69.000000
50%     98.300000   74.000000
75%     98.700000   79.000000
max    100.800000   89.000000

In [57]:
Body_temp=Temp['Body.Temp']

In [58]:
#You have heard that the average human body temperature is 98.6 degrees Fahrenheit.
# Does this data support this claim?
#I am told that the true the average human body temperature is 
#98.6 degrees Fahrenheit;however, we do not believe this is the case. 
#We want to test the notion that the true body Temperature should be 
# centered at a value lower than 98.6 degrees. The average body Temperature 
#of our dataset is 98.25 degrees. Is this significantly different for
#us to change our belief? To decide, I use a One-Sample T-Test:

In [59]:
# one sample t test
from scipy import stats
stats.ttest_1samp(Body_temp,98.6)
#https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_1samp.html

Ttest_1sampResult(statistic=-5.454823292364077, pvalue=2.410632041561008e-07)

In [60]:
import numpy as np
np.mean(Body_temp)

98.24923076923076

In [61]:
# since pvalue<0.05, we are 95% confident the mean of body temp is different from 98.6 degree

In [62]:
#Is there a significant difference in body temperature between males and females?
#To decide, I conduct a two sample t-test or anova test:

In [63]:
import numpy as np
Temp_female=Temp['Body.Temp'][Temp['Gender']=='Female']
Temp_male=Temp['Body.Temp'][Temp['Gender']=='Male']
print(np.var(Temp_female))
print(np.var(Temp_male))

0.5442698224852058
0.4807479289940821

In [64]:
# two sample t test
from scipy import stats
stats.ttest_ind(Temp_female, Temp_male, equal_var=False)
#https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_ind.html

Ttest_indResult(statistic=2.2854345381654984, pvalue=0.023938264182940983)

In [65]:
# p<0.05, we are 95% confident the means of female's and male's body temp are different

In [66]:
# whether female has a higher average body temp.

In [28]:
# one way ANOVA
import scipy.stats as stats
stats.f_oneway(Temp_female,Temp_male)
#https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.f_oneway.html

F_onewayResult(statistic=5.223211028240273, pvalue=0.02393188312239509)

In [29]:
# p<0.05, we are 95% confident the means of female's and male's body temp are different

In [30]:
# I am told that the variances of male heart rate and female heart rate are different. To determine, I conduct
# an F-test:

In [34]:
import scipy.stats as st

def f_test(x, y, alt="two_sided"):
    """
    Calculates the F-test.
    :param x: The first group of data
    :param y: The second group of data
    :param alt: The alternative hypothesis, one of "two_sided" 
    :return: a tuple with the F statistic value and the p-value.
    """
    df1 = len(x) - 1
    df2 = len(y) - 1
    f = x.var() / y.var()
    p = 2.0*(1.0 - st.f.cdf(f, df1, df2))
    return f, p

In [35]:
# f test
HR_female=Temp['Heart.Rate'][Temp['Gender']=='Female']
HR_male=Temp['Heart.Rate'][Temp['Gender']=='Male']
f_test(HR_female, HR_male, alt="two_sided")

(1.903213226179366, 0.011003063343600905)

In [32]:
# p<0.05, conclude 95% confident that variances of female and male heart rate are different.

In [45]:
# chi-square test of independence
dic={'color':['red','green', 'green', 'blue','red', 'green','blue'],
     'size':['big', 'small', 'small', 'small', 'medium', 'big', 'medium']}
df=pd.DataFrame(dic, columns=['color', 'size'])
df

   color    size
0    red     big
1  green   small
2  green   small
3   blue   small
4    red  medium
5  green     big
6   blue  medium

In [46]:
# change categorical features to numeric features
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
#https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.LabelEncoder.html
#Encode target labels with value between 0 and n_classes-1.
le.fit(df['color'])
df['color_num']=le.transform(df['color'])
df

   color    size  color_num
0    red     big          2
1  green   small          1
2  green   small          1
3   blue   small          0
4    red  medium          2
5  green     big          1
6   blue  medium          0

In [47]:
le.fit(df['size'])
df['size_num']=le.transform(df['size'])
df

   color    size  color_num  size_num
0    red     big          2         0
1  green   small          1         2
2  green   small          1         2
3   blue   small          0         2
4    red  medium          2         1
5  green     big          1         0
6   blue  medium          0         1

In [48]:
stats.chi2_contingency(df[['color_num','size_num']])
#https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chi2_contingency.html

(6.9642857142857135, 0.32416267949331207, 6, array([[0.93333333, 1.06666667],
        [1.4       , 1.6       ],
        [1.4       , 1.6       ],
        [0.93333333, 1.06666667],
        [1.4       , 1.6       ],
        [0.46666667, 0.53333333],
        [0.46666667, 0.53333333]]))

In [49]:
# p（0.324）>0.05, we are 95% confident color is independent of size

In [50]:
# for numeric features
# if two variables' correlation is 0, that does not mean they are independent.
# if two variables are independent, that means their correlation is 0
# https://en.wikipedia.org/wiki/Correlation_and_dependence

In [52]:
# for categorical features
df['color_num'].corr(df['size_num'])

-0.4537426064865151